/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
}
ul.navbarul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.navbarul a{
  text-decoration: none;
}

.navbarul a:hover {
  text-decoration: none;
}


.menu {
  background-color: red;
  color: Black;
  line-height: 2em;
  text-align: center;
}

.navbarul a{
  display:none
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #cfc;
  }

  .menu {
    display:none;
  }

  .navbarul a {
    display:flex;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  } 
}
